pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
scipy==1.13.0
streamlit==1.35.0



#cd "E:\Python\Practice\Cricket Parformance Analyst\Cricket_Performance_Analytics\dashboard"
## py -m streamlit run app.py